{
  "semi": true,
  "singleQuote": true,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ],
  "printWidth": 80,
  "quoteProps": "consistent",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "singleAttributePerLine": true
}
